PORT=4000
ENVIRONMENT=local
JWT_SECRET_KEY=jwt-secret-key

POSTGRES_URL=postgres-url
# or
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=tour-maker

OPENROUTE_SERVICE_API_KEY=openroute-service-api-key
GEMINI_API_KEY=gemini-api-key